body {
  background-color: #333;
  overflow: hidden;
}

#frame {
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

#canvas-bg {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

#canvas-fg {
/*  position: absolute;
  top: 0px;
  left: 0px;*/
}

#canvas-hud {
  position: absolute;
  top: 0px;
  left: 0px;
}

#hud {
  position: absolute;
  top: 0px;
  left: 0px;
}

#fs-button {
  position:absolute;
  right:5px;
  bottom:5px;
  cursor:pointer;
}