@charset "UTF-8";

body {
  background-color: #333;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#surface {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

#frame {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.game-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#canvas-bg {
  z-index: -1;
}

#canvas-fg {
  /* Make this canvas position relative to that the div won't collapse */
  position: relative;
}

#fs-button {
  position:absolute;
  right: 5px;
  bottom: 5px;
  cursor:pointer;
}

.jqmWindow {
  position: fixed;
  top: 15%;
  left: 50%;
  
  margin-left: -315px;
  width: 600px;
  
  /*background-color: #EEE;*/
  background-color: #333;
  /*color: #333;*/
  color: #EEE;
  font-weight: bold;
  border: 1px solid #222;
  padding: 12px;
}

.jqmWindow a.jqmClose {
  color: #999;
  text-decoration: none;
}

.jqmWindow a.jqmClose:hover {
  color: #DDD;
  text-decoration: none;
}

.jqmWindow #bug-title {
  /*border-width: 3px;*/
  width: 594px;
}

.jqmWindow #bug-msg {
  /*border-width: 3px;*/
  min-width: 594px;
  max-width: 594px;
  width: 594px;
}

.jqmWindow form #submit {
  float: right;
}

.jqmOverlay {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

.notification {
  position: fixed;
  top: 40px;
  left: 50%;
  margin-left: -302px;
  width: 600px;
  padding: 10px;
  background-color: white;
  border: 2px solid black;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.notification a:link,
.notification a:visited {
  color: #478CE6;
  text-decoration: none;
}

.notification a:hover,
.notification a:active {
  color: #59A3FF;
  text-decoration: none;
}

.error {
  background-color: #EA9E9E;
  border-color: #B50404;
  color: #B50404;
}

.success {
  background-color: #C1F5BD;
  border-color: #008709;
  color: #008709;
}

.unit-stats {
  font-weight: normal;
  width: 310px;
  padding: 5px;
  position: absolute;
  top: 15%;
  left: 50%;
  margin-left: -160px;
  background-color: #333;
  color: white;
  text-align: left;
}

.unit-stats table {
  width: 310px;
}

.unit-stats canvas {
  width: 32;
  height: 32;
}

.unit-stats th {
  text-align: center;
}

.unit-stats th a {
  float: right;
}

.desc {
  font-size: 12px;
}