body {
  background-color: #333;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#surface {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

#frame {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.game-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#canvas-bg {
  z-index: -1;
}

#canvas-fg {
  /* Make this canvas position relative to that the div won't collapse */
  position: relative;
}

#fs-button {
  position:absolute;
  right: 5px;
  bottom: 5px;
  cursor:pointer;
}

.jqmWindow {
    position: fixed;
    top: 25%;
    left: 50%;
    
    margin-left: -315px;
    width: 600px;
    
    /*background-color: #EEE;*/
    background-color: #333;
    /*color: #333;*/
    color: #EEE;
    font-weight: bold;
    border: 1px solid #222;
    padding: 12px;
}

.jqmWindow a {
  color: #DDF;
  text-decoration: none;
}

.jqmWindow a:hover {
  color: #CCE;
  text-decoration: none;
}