body {
  background-color: #333;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#frame {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

#canvas-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#canvas-fg {
/*  position: absolute;
  top: 0px;
  left: 0px;*/
}

#canvas-hud {
  position: absolute;
  top: 0;
  left: 0;
}

#canvas-camerahud {
  position: absolute;
  top: 0;
  left: 0;
}

#hud {
  position: absolute;
  top: 0;
  left: 0;
}

#fs-button {
  position:absolute;
  right: 5px;
  bottom: 5px;
  cursor:pointer;
}